@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.file-upload {
  input[type="file"]{
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  input[type="number"]{
    max-width: 40px;
  }
  .title {
    font-weight: bold;
    font-size: 1.15rem;
  }
  .subtitle {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    padding-right: 4px;
  }
  .output {
    margin: 12px 0;
    .params {}
    .param {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 32px;
    }
    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      label {
        cursor: pointer;
        margin: 0px 11px 0px 1px;
      }
    }
  }
  .list {
    .remove {
      color: red;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  padding: 12px;
}

.red {
  color: #920909;
}